logic_app_code.txt
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Condition": {
                "actions": {
                    "HttpTrigger": {
                        "inputs": {
                            "body": "@variables('latlong')",
                            "function": {
                                "id": "/subscriptions/089d0141-a67b-4e9c-b51e-33aa59eefb4f/resourceGroups/btfunctionapp/providers/Microsoft.Web/sites/BTFunctionApp/functions/HttpTrigger"
                            }
                        },
                        "runAfter": {},
                        "type": "Function"
                    }
                },
                "expression": {
                    "and": [
                        {
                            "equals": [
                                "@int(body('Parse_JSON_telemetry_string')?['ButtonPress'])",
                                0
                            ]
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_variable": [
                        "Succeeded"
                    ]
                },
                "type": "If"
            },
            "First_item_from_array_to_object": {
                "inputs": {
                    "variables": [
                        {
                            "name": "Body_Param",
                            "type": "object",
                            "value": "@variables('Body_Param_Arr')[0]"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_HTTP_result_into_array": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_HTTP_result_into_array": {
                "inputs": {
                    "variables": [
                        {
                            "name": "Body_Param_Arr",
                            "type": "array",
                            "value": "@triggerBody()"
                        }
                    ]
                },
                "runAfter": {},
                "type": "InitializeVariable"
            },
            "Initialize_base64_encoded_value_of_telemetry": {
                "inputs": {
                    "variables": [
                        {
                            "name": "Param_Data_Encoded",
                            "type": "string",
                            "value": "@body('Parse_JSON')?['data']?['body']"
                        }
                    ]
                },
                "runAfter": {
                    "Parse_JSON": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_telemetry_variable": {
                "inputs": {
                    "variables": [
                        {
                            "name": "Telemetry_Param",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_base64_encoded_value_of_telemetry": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_variable": {
                "inputs": {
                    "variables": [
                        {
                            "name": "latlong",
                            "type": "string",
                            "value": "{\n    \"name\": \"@{body('Parse_JSON_telemetry_string')?['Latitude']}, @{body('Parse_JSON_telemetry_string')?['Longitude']}\"\n}"
                        }
                    ]
                },
                "runAfter": {
                    "Parse_JSON_telemetry_string": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Parse_JSON": {
                "inputs": {
                    "content": "@variables('Body_Param')",
                    "schema": {
                        "properties": {
                            "data": {
                                "properties": {
                                    "body": {
                                        "type": "string"
                                    },
                                    "properties": {
                                        "properties": {},
                                        "type": "object"
                                    },
                                    "systemProperties": {
                                        "properties": {
                                            "iothub-connection-auth-generation-id": {
                                                "type": "string"
                                            },
                                            "iothub-connection-auth-method": {
                                                "type": "string"
                                            },
                                            "iothub-connection-device-id": {
                                                "type": "string"
                                            },
                                            "iothub-content-encoding": {
                                                "type": "string"
                                            },
                                            "iothub-content-type": {
                                                "type": "string"
                                            },
                                            "iothub-enqueuedtime": {
                                                "type": "string"
                                            },
                                            "iothub-message-source": {
                                                "type": "string"
                                            },
                                            "to": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            },
                            "dataVersion": {
                                "type": "string"
                            },
                            "eventTime": {
                                "type": "string"
                            },
                            "eventType": {
                                "type": "string"
                            },
                            "id": {
                                "type": "string"
                            },
                            "metadataVersion": {
                                "type": "string"
                            },
                            "subject": {
                                "type": "string"
                            },
                            "topic": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {
                    "First_item_from_array_to_object": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson"
            },
            "Parse_JSON_telemetry_string": {
                "inputs": {
                    "content": "@variables('Telemetry_Param')",
                    "schema": {
                        "properties": {
                            "ButtonPress": {
                                "type": "string"
                            },
                            "GPSDate": {
                                "type": "string"
                            },
                            "GPSTime": {
                                "type": "string"
                            },
                            "Humidity": {
                                "type": "string"
                            },
                            "Latitude": {
                                "type": "string"
                            },
                            "Longitude": {
                                "type": "string"
                            },
                            "ObjectName": {
                                "type": "string"
                            },
                            "ObjectType": {
                                "type": "string"
                            },
                            "Pressure": {
                                "type": "string"
                            },
                            "ReportingDevice": {
                                "type": "string"
                            },
                            "TOD": {
                                "type": "string"
                            },
                            "Temperature": {
                                "type": "string"
                            },
                            "Tilt": {
                                "type": "string"
                            },
                            "Version": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {
                    "Set_decoded_telemetry_value": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson"
            },
            "Response": {
                "inputs": {
                    "statusCode": 200
                },
                "runAfter": {
                    "Condition": [
                        "Succeeded"
                    ]
                },
                "type": "Response"
            },
            "Set_decoded_telemetry_value": {
                "inputs": {
                    "name": "Telemetry_Param",
                    "value": "@{decodeBase64(variables('Param_Data_Encoded'))}"
                },
                "runAfter": {
                    "Initialize_telemetry_variable": [
                        "Succeeded"
                    ]
                },
                "type": "SetVariable"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {},
        "triggers": {
            "request": {
                "inputs": {
                    "schema": {
                        "items": {
                            "properties": {
                                "data": {
                                    "properties": {
                                        "body": {
                                            "properties": {
                                                "Location": {
                                                    "type": "string"
                                                },
                                                "Weather": {
                                                    "properties": {
                                                        "Temperature": {
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "properties": {
                                            "properties": {
                                                "Status": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "systemProperties": {
                                            "properties": {
                                                "iothub-connection-auth-generation-id": {
                                                    "type": "string"
                                                },
                                                "iothub-connection-auth-method": {
                                                    "type": "string"
                                                },
                                                "iothub-connection-device-id": {
                                                    "type": "string"
                                                },
                                                "iothub-content-encoding": {
                                                    "type": "string"
                                                },
                                                "iothub-content-type": {
                                                    "type": "string"
                                                },
                                                "iothub-enqueuedtime": {
                                                    "type": "string"
                                                },
                                                "iothub-message-source": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                },
                                "dataVersion": {
                                    "type": "string"
                                },
                                "eventTime": {
                                    "type": "string"
                                },
                                "eventType": {
                                    "type": "string"
                                },
                                "id": {
                                    "type": "string"
                                },
                                "metadataVersion": {
                                    "type": "string"
                                },
                                "subject": {
                                    "type": "string"
                                },
                                "topic": {
                                    "type": "string"
                                }
                            },
                            "required": [
                                "id",
                                "topic",
                                "subject",
                                "eventType",
                                "eventTime",
                                "data",
                                "dataVersion",
                                "metadataVersion"
                            ],
                            "type": "object"
                        },
                        "type": "array"
                    }
                },
                "kind": "Http",
                "type": "Request"
            }
        }
    },
    "parameters": {}
}
